.container{
    width: 250px;
    height: 400px;
    background-color: #6181f6;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 10px;
}
.container .age{
    font-size: 100px;
    font-family: 'Bangers', cursive;
    color: white;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
.container .msg{
    font-size: 30px;
    font-family: 'Bangers', cursive;
    color: white;
    margin: 10px;
    text-align: center;
}
.container .icon svg{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0);
}
.container .icon svg path{
    stroke: 10;
    stroke: black;
    stroke-dasharray: 215;
    stroke-dashoffset: 215;
    animation: animate 5s ease-in forwards;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%{
        stroke-dashoffset: 0;
    }
    40%{
        stroke-dashoffset: 215;
        
    }
    80%{
        stroke-dashoffset: 430;
    }
    100%{
        stroke-dashoffset: 430;        
    }
}